header {
  height: 15vh;
  display: flex;
  justify-content: center;
}

body {
  padding: 0 15px 15px 15px;
}

h2, span {
  font-weight: bold;
}

.pokemon-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

  border-radius: 5px;

}

.image img {
  width: 200px;
  height: 200px;
}

.types-details {
  display: flex;
  gap: 10px;

  padding: 10px;
  background-color: #F6F8FC;
  border-radius: 25px;
}

.hw-box{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stats span {
  margin-bottom: 5px;
}

.stats-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.hp,
.def,
.spd,
.atk,
.spa,
.speed {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 5px;
}

.hp{
  background-color: #DF2140
}

.def {
  background-color: #EECD3D;
}

.spd {
  background-color: #96DA83;
}

.atk {
  background-color: #FF994D;
}

.spa{
  background-color: #85DDFF;
}

.speed{
  background-color: #FB94A8;
}

.abilities{
  margin-bottom: 10px;
}

.attacks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  gap: 10px;
}

footer h2 {
  margin-top: 10px;
}

.evolution-chain{
  display: flex;
  align-items: center;
  gap: 16px;
}

.evolution-chain img:first-child {
  width: 40px;
  height: 40px;
}

.evolution-chain img:nth-child(3) {
  width: 60px;
  height: 60px;
}

.evolution-chain img:nth-child(5) {
  width: 80px;
  height: 80px;
}

.arrow {
  height: 25px;
  weight: 25px
}

