.type-badge.normal { background-color: #A8A77A; }
.type-badge.fighting { background-color: #C22E28; }
.type-badge.flying { background-color: #A98FF3; }
.type-badge.poison { background-color: #A33EA1; }
.type-badge.ground { background-color: #E2BF65; }
.type-badge.rock { background-color: #B6A136; }
.type-badge.bug { background-color: #A6B91A; }
.type-badge.ghost { background-color: #735797; }
.type-badge.steel { background-color: #B7B7CE; }
.type-badge.fire { background-color: #EE8130; }
.type-badge.water { background-color: #6390F0; }
.type-badge.grass { background-color: #7AC74C; }
.type-badge.electric { background-color: #F7D02C; }
.type-badge.psychic { background-color: #F95587; }
.type-badge.ice { background-color: #96D9D6; }
.type-badge.dragon { background-color: #6F35FC; }
.type-badge.dark { background-color: #705746; }
.type-badge.stellar { background-color: #FFCC33; }
.type-badge.unknown { background-color: #68A090; }
