.search-bar{
  margin: 20px 0; 
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.search-bar img {
  width: 20px;
  height: 20px;
}


input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FF5350;
  color: white;
  border: none;
  cursor: pointer;
}