.search-bar{
  margin: 20px 0; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.search-field {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-bar img {
  width: 20px;
  height: 20px;
}


input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
select {
  color: #757575;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FF5350;
  color: white;
  border: none;
  cursor: pointer;
}